trunk/framework.erm/docs/xsd/entity.xsd

<?xml version="1.0" encoding="UTF-8"?>
<schema xmlns="http://www.w3.org/2001/XMLSchema" targetNamespace="http://plazmaforge.org/erm" xmlns:erm="http://plazmaforge.org/erm" elementFormDefault="qualified">

	<element name="entity">
		<complexType>
			<sequence>
				<element ref="erm:config" minOccurs="0" maxOccurs="1" />
				<element ref="erm:aliases" minOccurs="0" maxOccurs="1" />
				<element ref="erm:attributes" minOccurs="0" maxOccurs="1" />
				<element ref="erm:events" minOccurs="0" maxOccurs="1" />
				<element ref="erm:triggers" minOccurs="0" maxOccurs="1" />
			</sequence>
			<attribute name="name" type="string" use="required"/>
			<attribute name="class" type="string"/>
			<attribute name="header-class" type="string"/> <!-- experimental -->
			<attribute name="table" type="string"/>
			<attribute name="readonly" type="boolean" />
			<attribute name="insert" type="boolean" />
			<attribute name="update" type="boolean" />
			<attribute name="validator-type" type="string" />
			<attribute name="validator-class" type="string" />
		</complexType>
	</element>

	<element name="joined-entity">
		<complexType>
			<sequence>
				<element ref="erm:config" minOccurs="0" maxOccurs="1" />
				<element ref="erm:aliases" minOccurs="0" maxOccurs="1" />
				<element ref="erm:attributes" minOccurs="0" maxOccurs="1" />
				<element ref="erm:events" minOccurs="0" maxOccurs="1" />
				<element ref="erm:triggers" minOccurs="0" maxOccurs="1" />
			</sequence>
			<attribute name="name" type="string" use="required"/>
			<attribute name="class" type="string"/>
			<attribute name="header-class" type="string"/> <!-- experimental -->
			<attribute name="table" type="string"/>
			<attribute name="extends-class" type="string"/>
			<attribute name="readonly" type="boolean" />
			<attribute name="insert" type="boolean" />
			<attribute name="update" type="boolean" />
			<attribute name="validator-type" type="string" />
			<attribute name="validator-class" type="string" />
		</complexType>
	</element>

	<element name="subclass-entity">
		<complexType>
			<sequence>
				<element ref="erm:config" minOccurs="0" maxOccurs="1" />
				<element ref="erm:aliases" minOccurs="0" maxOccurs="1" />
				<element ref="erm:attributes" minOccurs="0" maxOccurs="1" />
				<element ref="erm:events" minOccurs="0" maxOccurs="1" />
				<element ref="erm:triggers" minOccurs="0" maxOccurs="1" />
			</sequence>
			<attribute name="name" type="string" use="required"/>
			<attribute name="class" type="string"/>
			<attribute name="header-class" type="string"/> <!-- experimental -->
			<attribute name="extends-class" type="string"/>
			<attribute name="discriminator-value" type="string"/>
			<attribute name="readonly" type="boolean" />
			<attribute name="insert" type="boolean" />
			<attribute name="update" type="boolean" />
			<attribute name="validator-type" type="string" />
			<attribute name="validator-class" type="string" />
		</complexType>
	</element>

	

	<!-- CONFIG -->
	<element name="config">
		<complexType>
			<sequence>
				<element ref="erm:property" minOccurs="0" maxOccurs="unbounded" />
			</sequence>
		</complexType>
	</element>

	<element name="property">
		<complexType mixed="true">
			<attribute name="name" type="string" use="required"/>
		</complexType>
	</element>
	

	
	<!-- ALIASES -->
	<element name="aliases">
		<complexType>
			<sequence>
				<element ref="erm:alias" minOccurs="0" maxOccurs="unbounded" />
			</sequence>
		</complexType>
	</element>

	<element name="alias">
		<complexType>
			<attribute name="name" type="string" use="required"/>
			<attribute name="attribute" type="string" use="required"/>
			<attribute name="order-attribute" type="string"/>
			<attribute name="filter-attribute" type="string"/>
		</complexType>
	</element>



	<!-- ATTRIBUTES -->
	<element name="attributes">
		<complexType>
			<choice minOccurs="0" maxOccurs="unbounded">
				<element ref="erm:key" minOccurs="0" maxOccurs="1"/>
				<element ref="erm:discriminator" minOccurs="0" maxOccurs="1" />
				<element ref="erm:attribute" minOccurs="0" maxOccurs="unbounded" />
				<element ref="erm:reference" minOccurs="0" maxOccurs="unbounded" />
				<element ref="erm:entry" minOccurs="0" maxOccurs="unbounded" />
				<element ref="erm:collection" minOccurs="0" maxOccurs="unbounded" />
			</choice>
		</complexType>
	</element>

	<element name="key">
		<complexType>
			<sequence>
				<element ref="erm:generator" minOccurs="0" maxOccurs="1" />
			</sequence>
			<attribute name="name" type="string" use="required"/>
			<attribute name="type" type="string"/>
			<attribute name="class" type="string"/>
			<attribute name="column" type="string"/>
			<attribute name="generator-type" type="string"/>
			<attribute name="generator-class" type="string"/>
		</complexType>
	</element>

	<element name="composite-key">
		<complexType>
 			<choice>
				<element ref="erm:generator" minOccurs="0" maxOccurs="1" /> <!--  ONLY FOR ROOT -->
				<element ref="erm:key" minOccurs="0" maxOccurs="unbounded" />
				<element ref="erm:composite-key" minOccurs="0" maxOccurs="unbounded" />
			</choice>
			<attribute name="name" type="string" use="required"/>
			<attribute name="type" type="string"/>
			<attribute name="class" type="string"/>
			<attribute name="generator-type" type="string"/> <!--  ONLY FOR ROOT -->
			<attribute name="generator-class" type="string"/> <!--  ONLY FOR ROOT -->
		</complexType>
	</element>


	<element name="attribute">
		<complexType>
			<attribute name="name" type="string" use="required" />
			<attribute name="type" type="string" />
			<attribute name="class" type="string"/>
			<attribute name="column" type="string" />
			<attribute name="required" type="boolean" />
			<attribute name="readonly" type="boolean" />
			<attribute name="insert" type="boolean" />
			<attribute name="update" type="boolean" />
			<attribute name="check" type="string" />
			<attribute name="validator-type" type="string" />
			<attribute name="validator-class" type="string" />
		</complexType>
	</element>

	<element name="discriminator">
		<complexType>
			<attribute name="name" type="string"/> <!--  OPTIONAL -->
			<attribute name="type" type="string" />
			<attribute name="class" type="string"/>
			<attribute name="column" type="string" />
			<attribute name="check" type="string" />
			<attribute name="validator-type" type="string" />
			<attribute name="validator-class" type="string" />
		</complexType>
	</element>

	<element name="reference">
		<complexType>
			<attribute name="name" type="string" use="required"/>
			<attribute name="type" type="string"/>
			<attribute name="class" type="string"/>
			<attribute name="column" type="string"/>
			<attribute name="required" type="boolean"/>
			<attribute name="insert" type="boolean" />
			<attribute name="update" type="boolean" />
			<attribute name="check" type="string" />
			<attribute name="validator-type" type="string" />
			<attribute name="validator-class" type="string" />
			<attribute name="join-depth" type="string"/>
		</complexType>
	</element>

	<element name="entry">
		<complexType>
			<attribute name="name" type="string" use="required"/>
			<attribute name="type" type="string"/>
			<attribute name="class" type="string"/>
			<attribute name="required" type="boolean"/>
			<attribute name="check" type="string" />
			<attribute name="validator-type" type="string" />
			<attribute name="validator-class" type="string" />
			<attribute name="join-attribute" type="string"/>
			<attribute name="join-column" type="string"/>
			<attribute name="cascade" type="string"/>
			<attribute name="join-depth" type="string"/>
		</complexType>
	</element>
	
	<element name="composite">
		<complexType>
			<choice>
				<element ref="erm:attribute" minOccurs="0" maxOccurs="unbounded" />
				<element ref="erm:composite" minOccurs="0" maxOccurs="unbounded" />
			</choice>
			<attribute name="name" type="string" use="required"/>
			<attribute name="type" type="string"/>
			<attribute name="class" type="string"/>
			<attribute name="required" type="boolean"/>
			<attribute name="check" type="string" />
			<attribute name="validator-type" type="string" />
			<attribute name="validator-class" type="string" />
			<attribute name="join-depth" type="string"/>
		</complexType>
	</element>
	
	
	<element name="collection">
		<complexType>
			<attribute name="name" type="string" use="required"/>
			<attribute name="type" type="string"/>
			<attribute name="implementer-class" type="string" />
			<attribute name="check" type="string" />
			<attribute name="validator-type" type="string" />
			<attribute name="validator-class" type="string" />
			<attribute name="join-class" type="string"  use="required"/>
			<attribute name="join-attribute" type="string"/>
			<attribute name="cascade" type="string"/>
		</complexType>
	</element>
	
	
	
	<!-- EVENTS -->
	<element name="events">
		<complexType>
			<sequence>
				<element ref="erm:event" minOccurs="0" maxOccurs="unbounded" />
			</sequence>
		</complexType>
	</element>

	<element name="event">
		<complexType>
			<attribute name="type" type="string"/>
			<attribute name="class" type="string"/>
			<attribute name="description" type="string"/>
		</complexType>
	</element>



	<!-- TRIGGERS -->
	<element name="triggers">
		<complexType>
			<sequence>
				<element ref="erm:trigger" minOccurs="0" maxOccurs="unbounded" />
			</sequence>
		</complexType>
	</element>

	<element name="trigger">
		<complexType>
			<sequence>
				<element ref="erm:script" minOccurs="0" maxOccurs="1" />
			</sequence>		
			<attribute name="name" type="string"/>
			<attribute name="type" type="string"/>
			<attribute name="class" type="string"/>
			<attribute name="description" type="string"/>
		</complexType>
	</element>

	<element name="script">
		<complexType mixed="true">
			<attribute name="language" type="string"/>
		</complexType>
	</element>



   <!--  OTHER -->
	<element name="generator">
		<complexType>
			<sequence>
				<element ref="erm:parameter" minOccurs="0" maxOccurs="unbounded" />
			</sequence>		
			<attribute name="type" type="string"/>
			<attribute name="class" type="string"/>
		</complexType>
	</element>

	<element name="parameter">
		<complexType mixed="true">
			<attribute name="name" type="string"/>
		</complexType>
	</element>
   
   
</schema>