framework.uwt/docs/xsd/tool.xsd

<?xml version="1.0" encoding="UTF-8"?>
<schema xmlns="http://www.w3.org/2001/XMLSchema" targetNamespace="http://plazmaforge.org/ui" xmlns:ui="http://plazmaforge.org/ui" elementFormDefault="qualified">

	<include schemaLocation="widget.xsd"/>

	<element name="tool-bar">
		<complexType>
			<choice minOccurs="0" maxOccurs="unbounded">
				<element ref="ui:tool-item" minOccurs="0" maxOccurs="unbounded" />
				<element ref="ui:tool-separator" minOccurs="0" maxOccurs="unbounded" />
			</choice>
		</complexType>
	</element>

	<element name="tool-item" type="ui:ActionItem"/>
	
	<element name="tool-separator"/>
	
</schema>